.footer__container
    .footer__information
        .footer__information--left
            p.information--title ¿Necesitas ayuda?
            .information--email
                a(href="mailto:someone@example.com")
                    img(src="../../images/mail.png", alt="mail_icon")
                    p atencionalcliente@securainsurance.com
            .information--phone
                a(href="tel:+34900926676") 
                    img(src="../../images/phone.png", alt="phone_icon")
                    p 900 926 676
        .footer_information--right
            p SECURA INSURANCE ESPAÑA, S.A.U
            p Calle Ribera del Loira 46, Madrid, 28042
    .footer__links
        .footer__links--left
            a(href="") Política de cookies 
            a(href="") Aviso legal 
            a(href="") Política de privacidad
        .footer__links--right 
            img(src="../../images/copyright.png", alt="copyright_icon")
            p 2022 SecuraInsurance