mixin banner(titulo, subtitulo)
    .banner_container
        img(src="../../images/banner_img.png", alt="banner_img")
        .banner_container--text 
            h1= titulo 
            h4= subtitulo