mixin input_checkbox(text, checkType)
    if(checkType == 'checkbox')
        label.container
            .container--checkbox
                input(type="checkbox")
                span.checkmark
            p!=text

    else if (checkType == 'radio')
        label.container
            .container--radio
                input(type="radio" name="radio")
                span.checkmark
            p!=text
