.dropdown_container--idiomas 
    a(href="#")
        .idioma.esp Español 
    hr
    a(href="#")  
        .idioma.eng English 
    hr
    a(href="#")  
        .idioma.cat Catalan
    hr
    a(href="#")  
        .idioma.gal Gallego
    hr
    a(href="#")  
        .idioma.eus Euskera