mixin chips(texto, multiple)
    - var chipID = `${texto} chip`
    .chip(id= chipID)
        p.chip--texto!= texto 
        if(multiple)
            .chip--fondo
            span.chip--varios!= '+' + multiple
        button(onclick=`delete_CustomerCard('${chipID}')`)
            img.chip--cerrar(src="../images/close_white.png" alt="")