include ../components/input_text
mixin date_input(labelText)
    .container_calendar
        .date_label!= labelText
        .calendar__inputs 
            .calendar.calendar--start
                +input_text('', 'Fecha inicio', 'calendar-start')
                img.btn_calendar(src="../images/calendar.png", alt="icon calendar")
            span al
            .calendar.calendar--end
                +input_text('', 'Fecha fin', 'calendar-end')
                img.btn_calendar(src="../images/calendar.png", alt="icon calendar")
            input(type="date")
