mixin selector(contents)
    each content in contents
        - var selName = content.name
        - var labelText = content.labelText
        - var placeholder = content.placeholder
        - var options = content.options
            .selector(id!= selName)
                span.select_default!= labelText 
                .selector_box(onclick="apareceDropdown('" + selName + "')")!=placeholder
                    img(src="../images/dropdown.png", alt="dropdown icon")
                    .selector--dropdown(class!=selName)
                        each option in options
                            .selector_li(class!= option[0])!= option[1]
                            hr
            