.selector {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  span{
    font-weight: 700;
    color: $textLink;
    margin-bottom: 8px;
  }
  .selector_box{
    box-sizing: border-box;
    border: 1px solid #A7B8BF;
    border-radius: 4px;
    padding: 12px;
    background-color: $white;
    position: relative;
    color: $textLink;
    img{
      float: right;
      padding-left: 10px;
    }
  }
  .selector_box div {width: 100%;} //para que el hijo (dropdown) tenga el mismo width
  &--dropdown{
    max-height: 120px; //hacer scroll cuando hay más de 2/3 opciones aprox
    overflow-y: auto;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 10;
    background-color: $white;
    box-shadow: $shadow-card;
    border-radius: 4px;
    .selector_li {
      padding: 12px;
      &:hover {
        background-color: $primary25;
      }
    }
    & hr:last-child {
      display: none;
    }
  }
}