.container {
    display: block;
    // width: fit-content;
    position: relative;
    padding-left: 35px; //dejar espacio entre checkbox y texto
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        //posición del checkmark
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 4px;
    }

    &--checkbox {
        input {
            height: 0;
            width: 0;
        }

        .checkmark:after {
            //tick de dentro del checkbox
            left: 10px;
            top: 7px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &--radio {
        .checkmark {
            border-radius: 50%;
        }

        .checkmark:after {
            top: 9px;
            left: 8.5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
    }
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: $primary;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}