.bloqueText{
    height: fit-content;
    margin: 0px!important;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.bloque__label{
    font-weight: 700;
    width: auto;
    padding-left: 0px !important;
    color: $textLink !important;
}
.bloque__input{
    border: 1px solid #A7B8BF;
    border-radius: 4px;
    color: #1D2433CC;
    padding: 12px;
    background-color: $white;
    font-family: $fontReg;
    font-size: 16px;
    
    &:focus {
        border: 1px solid $primary75;
        outline: none;
    }
}